<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finance Tracker</title>
    <link rel="stylesheet" href="../static/index1.css">
</head>
<body>
    <img src="../static/image/aman.png" alt="logo" class="logo">
    <header>
        <a href="http://localhost:5000/login" id="logout" class="button">Logout</a>

    </header>

    <main>
        <pre class="intro-text">        Track your spending, reduce your footprint. 
            Let's go green with every transaction!</pre>
        <button id="start-btn">Start</button>
        <div class="options">
            <a href="http://127.0.0.1:5001/" class="option-box">OCR (Optical Character Recognition)</a>
            <a href="http://127.0.0.1:5001/manual_input" class="option-box">Manual Input</a>
            <a href="http://127.0.0.1:5001/transaction" class="option-box">Transaction</a>

        </div>
    </main>
    
    <div class="guide">
        <h1>How you can reduce Carbon footprint</h1>
        <p>Reducing your carbon footprint is important, and there are simple steps to make a difference:</p>
        <ul>
            <li>Use public transport or carpool to reduce emissions from personal vehicles.</li>
            <li>Turn off lights and unplug devices when not in use to conserve energy.</li>
            <li>Reduce paper waste by going digital wherever possible, such as opting for e-receipts.</li>
            <li>Follow the 3 R's: Reduce, Reuse, Recycle, to cut down on waste generation.</li>
            <li>Support local products and eco-friendly brands to minimize transportation impact.</li>
            <li>Opt for energy-efficient appliances and consider renewable energy sources.</li>
        </ul>
    </div>
    <footer>
        <p>&copy; 2024 MoneyMint. All rights reserved.</p>
    </footer>

    <script src="../static/script.js"></script>
</body>
</html>
